#include <windows.h>


LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL


VS_VERSION_INFO VERSIONINFO
 FILEVERSION RC_VERSION
 PRODUCTVERSION RC_VERSION
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x2L
 FILEOS 0x10004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040704b0"
        BEGIN
            VALUE "CompanyName", "http://libusb-win32.sourceforge.net"
            VALUE "FileDescription", "LibUsb-Win32 - Generic USB Library"
            VALUE "FileVersion",   VERSION
            VALUE "ProductVersion", VERSION
            VALUE "InternalName", "libusb-win32"
            VALUE "LegalCopyright", "© 2000-2005 S.Meyer, J.Erdfelt, T.Sailer"
            VALUE "ProductName", "LibUsb-Win32"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x407, 1200
    END
END
